<launch>
	<!-- vim: set ft=xml noet : -->
        <!-- launch file for DASA project from Cloudkernel Technologies (Shenzhen) Co.,Ltd -->
	<!-- example launch script for PX4 based FCU's -->

        <!--supported DASA vehicle types: uav, rover, flyingrover -->
        <arg name="vehicle_type" default="uav" />
        <arg name="tgt_system" default="1" />

        <!--dasa indoor wifi network-->
        <arg name="gcs_ip"   default="master_ip" />
        <arg name="gcs_local_port"  default="16000" />
        <arg name="gcs_remote_port" value="$(eval 16000 + arg('tgt_system'))"/>

	<arg name="fcu_url" default="/dev/ttyACM0:57600" />
        <arg name="tgt_component" default="1" />

	<arg name="log_output" default="screen" />
	<arg name="fcu_protocol" default="v2.0" />
	<arg name="respawn_mavros" default="false" />

        <!-- Change group ns and tgt_system ID accordling-->
        <group ns="$(arg vehicle_type)$(arg tgt_system)">
            <include file="$(find mavros)/launch/node.launch">
                    <arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
                    <arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />

                    <arg name="fcu_url" value="$(arg fcu_url)" />
                    <arg name="gcs_url" value="udp://ubuntu$(arg tgt_system):$(arg gcs_local_port)@$(arg gcs_ip):$(arg gcs_remote_port)"/>

                    <arg name="tgt_system" value="$(arg tgt_system)" />
                    <arg name="tgt_component" value="$(arg tgt_component)" />
                    <arg name="log_output" value="$(arg log_output)" />
                    <arg name="fcu_protocol" value="$(arg fcu_protocol)" />
                    <arg name="respawn_mavros" default="$(arg respawn_mavros)" />
            </include>
        </group>
</launch>
